.home-page {
    display: flex;
    flex-direction: column;
    width: 100vw;

    background: url('/public/home-image.png');
    background-size: cover;
    color: var(--color-white);

    padding: var(--border-padding);
    gap: var(--gap-20);
    margin-bottom: var(--gap-80);


    h1 {
        font-size: var(--font-size-124); /* clamp(min, preferred, max); */
        font-weight: 700;
        line-height: 1.1;
    }

    p {
        font-size: var(--font-size-28);
        font-weight: 400;
        max-width: 50ch;
        line-height: 1.4;
    }

}


hr {
    border: none;
    width: 100%;
    border-top: 1px solid var(--color-dark-accent2);
    margin-top: var(--gap-60);
    margin-bottom: var(--gap-60);
}

