/* Serves.css */

hr {
    border: none;
    width: 100%;
    border-top: 1px solid var(--color-dark-accent2);
    margin-bottom: 10vh;
}

.services-page {
    color : var(--color-white);
    font-family: 'Inter', sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: var(--border-padding);
    margin-bottom: clamp(0.5rem, 5vh, 5rem);

    .contact-button {
        align-self: center;
    }
}
.services-top {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    flex-direction: row wrap;

    gap: clamp(2rem, 4vw, 5rem);
    margin-bottom: 8vh;
    width: 100%;
    max-width: 1400px;
    gap: 3vh;

    h2 {
        font-size: clamp(2rem, 4vw, 4rem);
        font-weight: 700;
        line-height: 1.1;
    }

    img {
        border-radius: 30px;
        width: clamp(250px, 35vw, 500px);
        height: auto;
        object-fit: cover;
        justify-self: flex-end;
    }
}

.services-text {
    display: flex;
    flex-direction: column;
    gap: clamp(0.9rem, 1.5vw, 2.25rem);
    max-width: 50ch;
    min-width: 45%;
}
.services-title {
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.1;
    color: var(--color-blue-accent2);
}

.servces-subtitle {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 700;
    line-height: 1.1;
}

.services-p {
    margin-top: clamp(1rem, 2vh, 2rem);
    font-size: clamp(0.95rem, 1.5vw, 1.5rem);
    line-height: 1.5;
}


@media (max-width: 900px) {
    .services-top {
      grid-template-columns: 1fr;
      text-align: center;
      justify-items: center;
    }
  
    .services-top img {
      width: 80%;
      height: auto;
      margin: 0 auto;
      justify-self: center;
      align-self: center;
    }
  
    .services-text {
      align-items: center;
    }
  }

.container-cards {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;

    justify-content: space-between;
    align-items: stretch;
    justify-items: center;
    gap: clamp(1rem, 2vw, 2rem);
    width: 100%;
}


.services-bottom {
    margin-bottom: clamp(0.5rem, 5vh, 5rem);
}

