/* Serves.css */

.services-page {
    color : var(--color-white);
    font-family: 'Inter', sans-serif;

    width: 100%;
    display: flex;
    flex-direction: column;

    padding: var(--border-padding);

    .contact-button,
    .booking-button {
        align-self: center;
    }
}

.services-cta-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-16);
}
.services-top {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    flex-direction: row wrap;
    align-items: stretch;

    margin-bottom: 8vh;
    width: 100%;
    max-width: 1400px;
    gap: var(--gap-40);

    h2 {
        font-size: var(--font-size-60);
        font-weight: 700;
        line-height: 1.1;
    }

    img {
        width: 100%;
        height: 100%;
        max-height: 500px;
        object-fit: cover;
        object-position: left center;
        border-radius: 30px;
        align-self: center;
    }
}

.services-text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
    max-width: 50ch;
    min-width: 45%;
}
.services-title {
    font-size: var(--font-size-32);
    line-height: 1.1;
    color: var(--color-blue-accent2);
}

.services-p {
    margin-top: var(--gap-20);
    font-size: var(--font-size-24);
    line-height: 1.5;
}


@media (max-width: 1000px) {
    .services-top {
      grid-template-columns: 1fr;
      text-align: center;
      justify-items: center;
    }
  
    .services-top img {
      width: 80%;
      height: auto;
      margin: 0 auto;
      justify-self: center;
      align-self: center;
    }
  
    .services-text {
      align-items: center;
    }
  }

.container-cards {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;

    justify-content: space-between;
    align-items: stretch;
    justify-items: center;
    gap: clamp(1rem, 2vw, 2rem);
    width: 100%;
}


.services-bottom {
    margin-bottom: clamp(0.5rem, 5vh, 5rem);
}
