.nav-button {
    background-color: transparent;
    font-family: 'Inria Sans', sans-serif;
    appearance: none;
    text-decoration: none;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    font-size:var(--font-size-20);
    
    line-height: 1.2;
  }

.contact-button {
      background-color: var(--color-blue-accent1);
      color: var(--color-white);
      font-size: var(--font-size-22);
      gap: 10px;
      border: none;
      border-radius: 35px;
      cursor: pointer;
      width: fit-content;
      transition: background-color 0.3s ease;

      &:hover {
          background-color: var(--color-blue-accent2);
          color: var(--color-dark-accent1);
  }
}


