.footer-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
    

    .section-title {
        font-size: var(--font-size-20);
        font-weight: 600;
        margin-bottom: var(--gap-4);
    }
}

.links {
    text-decoration: none;
    color: var(--color-white);

    &:hover {
        color: var(--color-blue-accent2);
    }
}

@media (max-width: 1200px) {
    .footer-section {
        flex:1;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section-title {
        margin-bottom: 0;
    }
}