.footer {
    color: var(--color-white);
    padding: var(--border-padding);
    font-family: "Inter", sans-serif;
    margin-bottom: var(--gap-12);
}

.footer-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: var(--gap-20);
    gap: var(--gap-24);
}

.footer-topleft {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    gap: var(--gap-16);
    max-width: 50%;
    flex: 1 1 40%;
    min-width: 280px;

    img {
        width: clamp(40px, 10vw, 120px);
    }

    .footer-text {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        gap: var(--gap-8);


        p {
            flex: 1;
            font-family: "Inter", sans-serif;
            
        }

        :first-child {
            font-size: var(--font-size-24);
            letter-spacing: clamp(0.5px, 22vw, 5px);
            font-weight: 500;
        }

        :last-child {
            font-size: var(--font-size-18);
            line-height: 1.4;
            font-weight: 400;
        }
    }
}


.footer-topright {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    gap: var(--gap-40);
    min-width: 300px;

    margin-right: clamp(0px, 10vw, 80px);
}

.footer-bottom {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--gap-20);
    justify-content: space-between;
}

.footer hr {
    margin-top: var(--gap-20);
    margin-bottom: var(--gap-20);
}

.footer-socials {
    display: flex;
    flex-flow: row;
    gap: var(--gap-20);

    img {
        height: clamp(10px, 2vw, 20px);
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.footer-links {
    display: flex;
    list-style: none;
    gap: var(--gap-60);
    justify-content: center;
    align-items: center;

    a {
        cursor: pointer;
        color: var(--color-white);
        font-size: var(--font-size-18);
        transition: color 0.3s ease;

        &:hover {
            color: var(--color-blue-accent2);
        }
    }
}

@media (max-width: 1000px) {

    .footer-top,
.footer-topleft,
.footer-topright {
    min-width: auto;
    max-width: 100%;
}

    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-topleft {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        min-width: auto;
        margin: 0;
        text-align: center;
    }

    .footer-topright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        min-width: auto;
        margin: 0;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .footer-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-24);
    }

    .footer-bottomright {
        width: 100%;
      }
}
