.footer-section {
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 1.2vw, 16px);
    

    .section-title {
        font-size: clamp(16px, 2vw, 16px);
        font-weight: 600;
        margin-bottom: clamp(4px, 1vw, 6px);
    }
}

.links {
    text-decoration: none;
    color: var(--color-white);

    &:hover {
        color: var(--color-blue-accent2);
    }
}

@media (max-width: 1200px) {
    .footer-section {
        flex:1;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section-title {
        margin-bottom: 0;
    }
}