/* Header.css */

.header {
  position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    padding: var(--border-padding);
    background-color: transparent;
    color: var(--color-white);

    .img {
      height: 60px;
      width: auto;
    }
  }

.header-left {
  display: flex;
  font-family: 'Inria Sans', sans-serif;
  align-items: center;

  .nav-button {
    font-family: 'Inria Sans', sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);
    padding: 8px 16px;
  }
}

.header-middle {
  display: flex;
  align-items: center;
}

.header-middle .nav-button {
  transition: background-color 0.3s ease;
}

.header-middle .nav-button:hover {
  color: var(--color-blue-accent2);
  transform: scale(1.05);
}

.header-right {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-blue-accent1);
  border-radius: 30px;
  padding: 2px 6px;

  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;

  img {
    filter: invert(1);
    height: clamp(16px, 2vw, 32px);
    width: auto;
    margin-left: 8px;
  }

}

.header-right:hover {
  background-color: var(--color-blue-accent1);
  transform: scale(1.03);
  cursor: pointer;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger-icon {
  filter: invert(1);
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
}

.burger-icon:hover {
  transform: scale(1.1);
}
  

@media (max-width: 900px) {
  /* Le menu burger s’affiche */
  .burger {
    display: block;
  }

  /* On cache les menus au départ */
  .header-middle,
  .header-right {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: rgba(10, 10, 10, 0.95);
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    border-top: 1px solid var(--color-blue-accent1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }

  /* Quand le menu est ouvert */
  .header-middle.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  /* Le bloc Contact passe dans le menu burger */
  .header-right {
    display: none;
  }

  .header-middle.active + .header-right {
    display: flex;
  }

  .header {
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.6);
  }
}