
.header {
  position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    padding: var(--border-padding);
    background-color: transparent;
    color: var(--color-white);

    .img {
      height: 60px;
      width: auto;
    }
  }

.header-left {
  display: flex;
  font-family: 'Inria Sans', sans-serif;
  align-items: center;

  .nav-button {
    font-family: 'Inria Sans', sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);
  }
}

.header-middle {
  display: flex;
  align-items: center;
}

.header-middle .nav-button {
  transition: background-color 0.3s ease;
}

.header-middle .nav-button:hover {
  color: var(--color-blue-accent2);
  transform: scale(1.05);
}

.header-right {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-blue-accent1);
  border-radius: 30px;
  padding: 2px 6px;

  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;

  img {
    filter: invert(1);
    height: clamp(16px, 2vw, 32px);
    width: auto;
    margin-left: 8px;
  }

}

.header-right:hover {
  background-color: var(--color-blue-accent1);
  transform: scale(1.03);
  cursor: pointer;
}
  