.card {
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    padding: var(--gap-16);
    background-color: var(--color-dark-accent1);
    flex: 1 1 clamp(200px, 16vw, 500px);
    min-width: 200px;
    text-align: left;
    transition: transform 0.3s ease, background-color 0.3s ease;

    display: flex;
    flex-direction: column;
    gap: var(--gap-16);


    img {
        width: clamp(15px, 20vw, 75px);
        height: auto;
        border-radius: 8px;
        margin-bottom: 8px;
        align-self: center;
    }

    .card-title {
        font-size: var(--font-size-24);
        margin-bottom: var(--gap-4);
    }

    .card-description {
        flex: 1 1 auto;
        font-size: var(--font-size-20);
        line-height: 1.4;
        color: var(--color-grey-accent1);
    }

    .card-price {
        margin-top: auto;
        font-size: var(--font-size-22);
        margin-top: 1em;
        font-weight: 600;
        color: var(--color-blue-accent2);
        align-self: flex-start;
    }
}

.card:hover {
    background-color: var(--color-dark-accent1);
    transform: translateY(-5px);
}