/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Inter", sans-serif;

  --color-white: #ffffff;
  --color-blue-accent1: rgba(55, 74, 195, 1);
  --color-blue-accent2: rgba(190, 223, 255, 1);
  --color-dark-accent0: rgba(14, 9, 7, 1);
  --color-dark-accent1: rgba(23, 18, 16, 1);
  --color-dark-accent2: rgba(63, 53, 48, 1);
  --color-grey-accent1: rgba(174, 174, 174, 1);

  --border-padding: 2vh 16vw; /* to change */

  background-color: var(--color-dark-accent0);
}

@font-face {
  font-family: 'Inria Sans';
  src: url('./assets/fonts/InriaSans-Regular.ttf') format('truetype'),
       url('./assets/fonts/InriaSans-Italic.ttf') format('truetype'),
        url('./assets/fonts/InriaSans-BoldItalic.ttf') format('truetype'),
        url('./assets/fonts/InriaSans-Light.ttf') format('truetype'),
        url('./assets/fonts/InriaSans-LightItalic.ttf') format('truetype');
}


@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular_.ttf') format('truetype'),
        url('./assets/fonts/Inter-Medium.ttf') format('truetype'),
        url('./assets/fonts/Inter-SemiBold.ttf') format('truetype'),
        url('./assets/fonts/Inter-Bold.ttf') format('truetype');
}
